(
    (
        http.request.uri.path contains "/." and not http.request.uri.path contains "/.well-known/"
    ) or (
        http.request.uri.path contains "/_" or
        http.request.uri.path contains "/administration/" or
        http.request.uri.path contains "/administrator/" or
        http.request.uri.path contains "/admins/" or
        http.request.uri.path contains "/apache" or
        http.request.uri.path contains "/app/" or
        http.request.uri.path contains "/wp-login.phpx" or
        http.request.uri.path contains "/wp-admin" or
        http.request.uri.path contains "/wp-content" or
        http.request.uri.path contains "/wp-includes" or
        http.request.uri.path contains "/wp-json" or
        http.request.uri.path contains "/wp-config.php" or
        http.request.uri.path contains "xampp" or
        http.request.uri.path contains "lara/" or
        http.request.uri.path contains "laravel/" or
        http.request.uri.path contains "info.php" or
        http.request.uri.path contains "secured/" or
        http.request.uri.path contains "xmlrpc-php" or
        http.request.uri.path contains "composer.json" or
        http.request.uri.path contains "composer.lock" or
        http.request.uri.path contains "web.config" or
        http.request.uri.path contains "phpinfo" or
        http.request.uri.path contains "PHPMailer" or
        http.request.uri.path contains "YiiMailer" or
        http.request.uri.path contains ".." or
        http.request.uri.path contains "//"
    ) or (
        http.request.uri.path matches "(?i).*\.(py|ashx|aspx|ini|log|sh|txt)$"
    )
)
